$color-brand: 180.00deg, rgb(188, 16, 216),rgba(80, 0, 250, 0.93) 100%;
$color-primary: #5C5C5E;
$color-dark: rgb(7, 7, 7);
$color-white: rgb(229, 224, 226);
$bg-button: rgb(202, 202, 214);


$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 425px;