.show-metaverse {
  padding-top: 100px;
}

.show-metaverse__container {
  background: url(../assets/images/backgrounds/bg-people.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  padding-bottom: 80px;
}

.show-metaverse__text {
  max-width: 110px;
  margin: 0 auto;
  padding-top: 63px;
}
